cmake-build-debug/
Testing/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
.idea/
.DS_Store
Makefile
./bin/
docs/**
GeneticAlgorithm.cbp
/lib/
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
install_manifest.txt
GeneticAlgorithmLib.cbp
Examples.cbp
/build/